<div class="window">
    <div *ngIf="errorMessage" class="error-container" >
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ errorMessage }}
    </div>
    <div class="password-container">
        <div class="pass-container">
            <div class="login-box">
                <p class="pass"><strong>Password assistance</strong></p>
                <p class="pass-content">Enter the email address or mobile phone number associated with your Amazon
                    account.</p>
                <form class="signIn-forms" (ngSubmit) = "navigateToPassword($event)">
                    <label class="plac-text form-label">Email or mobile phone number</label>
                    <input type="text" class="form-control" placeholder="Email or phone number" name="userData" [(ngModel)]="userData" required />
                    <button type="submit">Continue</button>
                </form>
            </div>
        </div>
        <div class="custom">
            <p>Has your email address or mobile phone number changed?</p>
            <p class="c1">If you no longer use the e-mail address associated with your Spark account, you may
                contact <a href="" class="anchor-tag">Customer Service</a> for help restoring access to your account.

            </p>
        </div>
    </div>
</div>