.window .password-container{
    justify-content: center;
    width: 18rem;
    margin: 0 auto; 
}

.pass{
    text-align: left;
    font-size: 1.7rem;
}
.pass-content{
    text-align: left;
    margin-top: 2%;
    font-size: 0.80em;
}

