.homeComponent{
  min-width: 1050px;
}
.hero-section {
  height: 15em;
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img24/Consumables/SVD/Feb24/GW/Unrec_PC_3000._CB583595285_.jpg");
  background-size: cover;
}

