.second-nav {
    height: 2em;
    background-color: #c9590e;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    display: flex;
  }
  
  .second-nav p {
    display: inline;
  }
  
  .panel-ops {
    width: 70%;
    font-size: 0.8rem;
  }
  
  .ptag {
    margin-left: 1.5em;
  }
  
  .deals {
    font-size: 0.9rem;
    font-weight: 700;
  }