<div class="window">
    <div *ngIf="passwordError" class="error-container">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ passwordError }}
    </div>
    <div class="login-box">
        <div class="pass-box">
            <span>
                <h2>Sign In</h2>
            </span>
            <div class="userDetails">
                <p>{{ userData }} <a href="" class="anchor-tag" style="margin-left: 0.5em;">Change</a></p>
            </div>
            <form class="signIn-forms"  (ngSubmit)="navigateToHome()">
                <div class="pass-class">
                    <span>
                        <label class="password form-label">Password</label>
                    </span>
                    <span class="forgot-pass">
                        <a href="forgotPassword" class="anchor-tag">Forgot Password?</a>
                    </span>
                </div>
                <div class="see-password">
                    <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" placeholder="password" name="password" [(ngModel)]="password" required/>
                    <span class="toggle-password" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                    </span>
                </div>
                
                <button type="submit">Sign In</button>
            </form>
            <div class="signed-in">
                <input type="checkbox" id="keepMeSignedIn">
                <p>Keep me signed in.<a href="" class="anchor-tag" style="margin-left: 0.5em;">Details</a></p>
            </div>
            <div class="wrapper">
                <div class="line"></div>
                <div class="content1">or</div>
                <div class="line"></div>
            </div>
            <div class="new-acc">
                <a href=""><button type="button">Get an OTP on your phone</button></a>
            </div>
        </div>
    </div>