.window .login-box{
    padding: 2em;
    justify-content: center;
    width: 17em;
    margin: 0 auto; 
}

.window .login-box .pass-box{
    text-align: left;
}

.login-box .pass-box .pass-class{
    margin-top: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

.userDetails{
    margin-top: 1em;
    font-size: 1em;
}

.see-password{
    display: flex;
    align-items: center;
}

.see-password .toggle-password{
    margin-left: 0.6em;
}

.login-box .pass-box .pass-class .forgot-pass{ 
    font-size: 0.7em;
}

.login-box .pass-box input{
    margin-top: 0.5em;
}

.pass-box  .signed-in {
    margin-top: 0.5em;
    display: flex; 
    font-size: 1.25em;
}

.pass-box .signed-in input{
    width: fit-content;
}
.signed-in input[type="checkbox"] {
    margin-right: 0.5em;
}
.login-box .pass-box .signed-in p{
    font-size: 0.75em;
    padding-top: 0.25em;
}

