.window .password-container{
    justify-content: center;
    width: 21rem;
    margin: 0 auto; 
}

.pass{
    text-align: left;
    font-size: 1.7rem;
}
.pass-content{
    text-align: left;
    margin-top: 2%;
    font-size: 0.80em;
}

.alert-message {
    display: flex;
    align-items: center; 
    font-size: 0.7em;
    color: brown;
    margin-bottom: 2em;
  }
  
  .alert-message i {
    margin-left: 0.5em;
    margin-right: 0.3em; 
  }